.poppins-regular {
  font-weight: 400;
  font-family: Poppins, sans-serif;
  font-style: normal;
}

%poppins-regular {
  font-weight: 400;
  font-family: Poppins, sans-serif;
  font-style: normal;
}

.poppins-medium {
  font-weight: 500;
  font-family: Poppins, sans-serif;
  font-style: normal;
}

.poppins-semibold {
  font-weight: 600;
  font-family: Poppins, sans-serif;
  font-style: normal;
}

.poppins-bold {
  font-weight: 700;
  font-family: Poppins, sans-serif;
  font-style: normal;
}

.poppins-regular-italic {
  font-weight: 400;
  font-family: Poppins, sans-serif;
  font-style: italic;
}

.poppins-medium-italic {
  font-weight: 500;
  font-family: Poppins, sans-serif;
  font-style: italic;
}

.poppins-semibold-italic {
  font-weight: 600;
  font-family: Poppins, sans-serif;
  font-style: italic;
}


* {
  @extend %poppins-regular;
}

$blue-600: #155DFC;
$blue-500: #2B7FFF;
$blue-700: #1447E6;
$blue-800: #193CB8;
$yellow-300: #ffdf20;
$yellow-500: #F0B100;
$slate-200: #E2E8F0;
$slate-700: #314158;
$slate-600: #45556C;
$slate-800: #1D293D;
$green-500: #00C950;
$sm: 640px;
$md: 768px;
$xl: 1024px;
$xxl: 1440px;

body {
  padding-top: 96px;
}

// Navigation
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 96px;
  padding: 18px 12px;
  color: white;
  z-index: 20;
  background-color: $blue-600;

  .brand {
    display: flex;
    align-items: center;

    .logo {
      width: 60px;
      height: 60px;
      margin-right: 16px;
    }

    .title{
      font-size: 20px;
      font-weight: bold;
    }
  }

  .menu-toggler {
    .hide {
      display: none;
    }
  }

  .navlinks {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    height: calc(100vh - 96px);
    background-color: $blue-600;

      a {
        display: block;
        padding: 16px 20px;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }
  }
}

body.show-menu {
  nav {
    .menu-toggler {
      .show {
        display: none;
      }

      .hide {
        display: block;
      }
    }

    .navlinks {
      display: block;
    }
  }
}

section {
  padding: 0 20px;
  margin-bottom: 96px;

  &:first-child {
    padding-top: 96px;
  }

  .section-head {
    margin-bottom: 96px;
    text-align: center;

    .section-title {
      font-size: 28px;
      color: $blue-800;
      margin-bottom: 30px;
    }

    .section-subtitle {
      font-size: 16px;
      color: $slate-600;
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96px;
  font-size: 14px;
  color: white;
  background-color: $blue-800;
}

// Hero
.hero {
  position: relative;
  display: grid;
  width: 100%;
  height: 100vh;
  max-height: 890px;
  background-color: $blue-600;
  grid-template-columns: 1fr;
  overflow: hidden;
  padding-top: 0 !important;
  margin-bottom: 120px;
  

  &::before {
    position: absolute;
    bottom: -450px;
    left: -288px;
    width: 600px;
    height: 1042px;
    rotate: -51deg;
    transform-origin: center center;
    background-color: $blue-500;
    content: " " ;
    z-index: 0;
  }

  .left {
    height: 100%;
    padding: 0 20px;
    z-index: 10;
    padding-top: 60px;

    h1 {
      display: flex;
      flex-direction: column;
      margin-bottom: 42px;
      text-align: center;

      .subtitle {
        font-size: 24px;
        color: white;
      }
  
      .title {
        font-size: 40px;
        font-weight: bold;
        color: $yellow-300;
      }
    }

    .description {
      font-size: 20px;
      color: white;
      margin-bottom: 67px;
    }

    .cta {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 15px 30px;

      .primary-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        max-width: 100%;
        padding: 20px;
        font-size: 16px;
        font-weight: 600;
        color: white;
        border-radius: 6px;
        background-color: $blue-700;
        text-align: center;
      }

      .secondary-button {
        display: block;
        width: 300px;
        padding: 20px;
        font-size: 16px;
        font-weight: 600;
        color: $yellow-300;
        border: 2px solid $yellow-500;
        border-radius: 6px;
        background-color: transparent;
        text-align: center;
      }
    }
  }

  .right {
    position: relative;
    display: none;

    .blob {
      position: absolute;
      top: 47px;
      right: 22px;
      z-index: 0;
    }

    .stack {
      position: relative;
      z-index: 10px;

      .img1 {
        position: absolute;
        top: 59px;
        right: 246px;
        width: 300px;
        height: 300px;
        box-shadow: 0 4px 8px 6px rgba($color: #000, $alpha: 25%);
      }

      .img2 {
        position: absolute;
        top: 250px;
        right: 85px;
        width: 300px;
        height: 300px;
        box-shadow: 0 4px 8px 6px rgba($color: #000, $alpha: 25%);
      }
    }
  }
}

.why-us {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  .why {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-top: 50px;

    

    img {
      width: 64px;
      height: 64px;
      margin: 0 auto;
      margin-bottom: 42px;
    }

    .why-title {
      font-size: 20px;
      font-weight: 600;
      color: $blue-800;
      margin-bottom: 12px;
    }

    p {
      font-size: 16px;
      color: $slate-700;
    }
  }
}

.index-services {
  .service {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 20px;
    gap: 20px;
    margin-bottom: 96px;

    // &:nth-child(even) {
    //   flex-direction: row-reverse;
    // }

    .service-detail {
      // padding-top: 25px;

      .service-title {
        display: block;
        font-size: 28px;
        color: $blue-800;
        margin-bottom: 30px;
        text-align: center;
      }

      .service-description {
        font-size: 16px;
        color: $slate-600;
        margin-bottom: 60px;
      }

      .service-cta {
        display: block;
        width: 300px;
        max-width: 100%;
        margin: 0 auto;
        padding: 18px 70px;
        font-size: 16px;
        font-weight: 600;
        color: white;
        border-radius: 6px;
        text-align: center;
        background-color: $blue-500;
      }
    }

    img {
      width: 536px;

      // height: 474px;
      margin: 0 auto;
      object-fit: scale-down;
    }
  }
}

.customer-feedback {
  .feedback-title {
    font-size: 28px;
    color: $blue-800;
    margin-bottom: 68px;
    text-align: center;
  }

  .feedbacks {
    display: flex;
    align-items: top;
    justify-content: center;
    padding: 0 20px;
    flex-wrap: wrap;
    gap: 20px;

    .feedback {
      padding: 60px;
      border: 1px solid $slate-200;
      border-radius: 6px;
      background-image: url("/assets/images/quote.svg");
      background-repeat: no-repeat;
      background-position: 26px 26px;

      .message {
        color: $slate-600;
        margin-bottom: 30px;
        font-style: italic;;
      }

      .feedback-by {
        display: block;
        color: $blue-800;
        text-align: center;
      }
    }
  }
}

.main-cta {
  position: relative;
  margin-bottom: 0;

  // height: 607px;
  background-image: linear-gradient(to top right, $blue-700, $blue-800);
  overflow: hidden;

  .tilted-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 1800px;
    transform: translate(-50%, -50%) rotate(-42deg);

    // transform: translate(-50%, -50%);
    background-color: $blue-600;
    z-index: 0;
    transform-origin: center center;
  }

  .content {
    position: relative;
    padding: 90px 20px;
    z-index: 10;
    text-align: center;

    .cta-title {
      font-size: 36px;
      font-weight: 600;
      color: $yellow-300;
      margin-bottom: 20px;
    }

    p {
      color: white;
      margin-bottom: 75px;
    }

    .cta-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 100%;
      margin: 0 auto;
      flex-wrap: wrap;
      gap: 15px 30px;
      
      .book-now {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        max-width: 100%;
        padding: 20px;
        font-size: 16px;
        font-weight: 600;
        color: white;
        border-radius: 6px;
        background-color: $blue-700;
        text-align: center;
      }

      .contact-us {
        display: block;
        width: 300px;
        padding: 20px;
        font-size: 16px;
        font-weight: 600;
        color: $yellow-300;
        border: 2px solid $yellow-500;
        border-radius: 6px;
        background-color: transparent;
        text-align: center;
      }
    }
  }
}

.goals {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  .goal {
    width: 450px;
    max-width: 100%;
    padding: 30px 20px;

    .goal-title {
      display: block;
      font-size: 24px;
      color: $blue-800;
      margin-bottom: 30px;
      text-align: center;
    }

    p {
      color: $slate-600;
    }
  }
}

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 96px;

  .service {
    display: flex;
    width: 540px;
    flex-flow: column wrap;

    .service-image {
      margin-bottom: 20px;
    }

    .service-detail {
      .service-title {
        display: block;
        font-size: 24px;
        color: $blue-800;
        margin-bottom: 20px;
      }

      .service-description {
        color: $slate-600;
        margin-bottom: 80px;
      }

      .service-cta {
        display: block;
        width: 100%;
        padding: 16px 20px;
        font-size: 16px;
        font-weight: 600;
        color: white;
        border-radius: 6px;
        background-color: $blue-500;
        text-align: center;
      }
    }
  }
}

.main-contact-us {
  display: grid;
  place-items: start center;
  gap: 30px;

  .contact-details {
    width: 100%;
    max-width: 400px;

    .contact-option {
      display: flex;
      align-items: start;
      justify-content: start;
      height: 70px;
      max-width: 100%;
      gap: 16px;
      margin-bottom: 20px;

      .option-icon {
        width: 32px;
      }

      .option-value {
        width: 100%;
        color: $slate-600;
      }

      .social-medias {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 16px;

        img {
          width: 32px;
        }
      }
    }
  }
  
  .google-map {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    max-height: 450px;
    
    .map {
      width: 100%;
      height: 100%;
      max-width: 100%;
    }
  }
}

.talk-to-us {
  .contact-form {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;

    // padding: 0 30px;
    

    .input-group {
      margin-bottom: 30px;

      .input-label {
        display: block;
        font-weight: 600;
        color: $slate-600;
        margin-bottom: 12px;
      }
      
      .input-field {
        display: block;
        width: 100%;
        padding: 8px 12px;
        border: 2px solid $slate-200;
        border-radius: 6px;
        resize: vertical;

      }

      textarea {
        height: calc(6 * 1.5em);
      }

      .submit-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 16px 20px;
        font-weight: 600;
        color: white;
        border-radius: 6px;
        background-color: $green-500;
        gap: 16px;
      }
    }
  }
}

@media screen and (width >= $sm) {
  nav {
    padding: 0 30px;

    .menu-toggler {
      display: none;
    }

    .navlinks {
      position: static;
      display: flex;
      align-items: center;
      justify-content: end;
      width: auto;
      height: auto;
      gap: 30px;

      a {
        padding: 0;
      }
    }
  }

  section {
    padding: 0 30px;
  }

  .hero {
    .left {
      padding-top: 160px;
    }
  }
}

@media screen and (width >= $md) {
  section {
    .section-head {
      .section-title {
        font-size: 36px;
      }

      .section-subtitle {
        font-size: 20px;
      }
    }
  }

 .hero {
    .left {
      width: 600px;
      margin: 0 auto;
      padding-top: 160px;

      .cta {
        flex-wrap: nowrap;
      }
    }
  }

  
}

@media screen and (width >= $xl) {
  .hero {
    grid-template-columns: 1fr 1fr;

    .left {
      padding: 0;
      background-color: transparent;
      padding-left: 20px;
      padding-top: 160px;

      h1 {
        text-align: left;
      }
    }

    .right {
      display: block;
    }
  }

  .index-services {
    .service {
      flex-direction: row;
      margin-bottom: 40px;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      .service-detail {
        padding-top: 25px;

        .service-title {
          font-size: 36px;
          text-align: left;
        }

        .service-cta {
          margin: 0;
        }
      }
    }
  }

  .customer-feedback {
    .feedback-title {
      font-size: 36px;
    }

    .feedbacks {
      flex-wrap: nowrap;

    }
  }

  .main-cta {
    .tilted-bg {
      width: 600px;
    }

    .content {
      .cta-title {
        font-size: 36px;
      }
    }
  }

  .main-contact-us {
    grid-template-columns: 4fr 8fr;
  }
}