---
layout: base
---


<section class="hero">
			<div class="left">
				<div class="details">
					<h1>
						<span class="subtitle">Solusi Kreatif untuk</span>
						<span class="title">Bisnes & Jenama Anda</span>
					</h1>
					<p class="description">
						Membantu individu, pelajar, dan  lore membina jenama melalui perkhidmatan percetakan berkualiti dan pemasaran digital kreatif seperti design grafik, video editing dan pembangunan website.
					</p>

					<div class="cta">
						<a href="{{ "/catalogs.html" | relative_url }}" class="primary-button">Lihat Katalog</a>
						<a href="{{ "/about-us.html" | relative_url }}" class="secondary-button">Hubungi Kami</a>
					</div>
				</div>
			</div>
			<div class="right">
				<img class="blob" src="{{ "/assets/images/blob.svg" | relative_url }}" alt="Blob Image">
				<div class="stack">
					<img class="img1" src="{{ "/assets/images/08-tag-mockup.png" }}" alt="Hero Image">
					<img class="img2" src="{{ "/assets/images/08-tag-mockup.png" }}" alt="Hero Image">
					</div>
			</div>
		</section>

		<section class="why-us">
			<div class="why">
				<img src="{{ "/assets/images/light-bulb.svg" }}" alt="Light Bulb Icon">
				<span class="why-title">Kreativiti Tinggi</span>
				<p>Reka bentuk eksklusif & moden untuk bisnes anda menonjol.</p>
			</div>
			<div class="why">
				<img src="{{ "/assets/images/rocket.svg" }}" alt="Light Bulb Icon">
				<span class="why-title">Pantas & Tepat Masa</span>
				<p>Setiap projek disiapkan mengikut jadual & keperluan anda.</p>
			</div>
			<div class="why">
				<img src="{{ "/assets/images/check-badge.svg" }}" alt="Light Bulb Icon">
				<span class="why-title">Kualiti Terjamin</span>
				<p>Produk digital dan cetakan berkualiti tinggi untuk kepuasan pelanggan.</p>
			</div>
			<div class="why">
				<img src="{{ "/assets/images/head-phone.svg" }}" alt="Light Bulb Icon">
				<span class="why-title">Servis Mesra Pelanggan</span>
				<p>Sentiasa sedia membantu dan menyokong anda sepanjang projek.</p>
			</div>
		</section>

		<section class="services">
			<div class="service">
				<div class="service-detail">
					<span class="service-title">Digital Marketing</span>
					<p class="service-description">Full-service digital marketing package yang menawarkan professional graphic design, video editing, dan custom website development untuk perniagaan anda. Semua servis ini tailor-made supaya sesuai dengan brand dan target audience anda.</p>
					<a class="service-cta" href="{{ "/catalogs.html" | relative_url }}">Lihat lagi</a>
				</div>
				<img src="{{ "/assets/images/digital-marketing.png" }}" alt="Digital Marketing Service">
			</div>
			<div class="service">
				<div class="service-detail">
					<span class="service-title">Brand Printing</span>
					<p class="service-description">Kami menawarkan T-Shirt Sublimation, Business Cards, Bunting Banners, dan banyak lagi. Sesuai untuk personal use, events, atau business promotions, semua produk kami custom-made & berkualiti tinggi mengikut keperluan anda.</p>
					<a class="service-cta" href="{{ "/catalogs.html" | relative_url }}">Lihat lagi</a>
				</div>
				<img src="{{ "/assets/images/printing.png" }}" alt="Brand Printing Service">
			</div>
		</section>

		<section class="customer-feedback">
			<h2 class="feedback-title">Apa Kata Pelanggan</h2>
			<div class="feedbacks">
				<div class="feedback">
					<p class="message">
						Lorem  ipsum dolor sit amet tu si urlo si teano asdasd
					</p>
					<span class="feedback-by">
						My Name,  Product Name
					</span>
				</div>
				<div class="feedback">
					<p class="message">
						Lorem  ipsum dolor sit amet tu si urlo si teano asdasd
					</p>
					<span class="feedback-by">
						My Name,  Product Name
					</span>
				</div>
			</div>
		</section>
		<section class="main-cta">
			<div class="tilted-bg"></div>
			<div class="content">
				<h2 class="cta-title">Mulakan Projek Anda Hari Ini</h2>
				<p>Hubungi kami untuk mendapatkan rekaan dan cetakan yang profesional dan berkualiti tinggi.</p>

				<div class="cta-buttons">
					<a href="{{ "/catalogs.html" | relative_url }}" class="book-now">Tempah Sekarang</a>
					<a href="{{ "/contact-us.html" | relative_url }}" class="contact-us">Hubungi Kami</a>
				</div>
			</div>
		</section>